<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th>
        <th>Zip</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/school/?sch_id=<%= rs[i].sch_id %>"><%= rs[i].schname %></a></td> <td><a href="/school/?sch_id=<%= rs[i].sch_id %>">
                    <%= rs[i].zip %></a></td> <td><a href="/school/?sch_id=<%= rs[i].sch_id %>"><%= rs[i].street%></a></td>
                   <td><a href="/school/?sch_id=<%= rs[i].sch_id %>"><%= rs[i].city %></a></td> <td><a href="/school/?sch_id=<%= rs[i].sch_id %>"><%= rs[i].state %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No accounts are entered into the Account database table.
    <% } %>
</div>

<!--<div style="margin-top:10px;">
    <a href="/user/create">Schools</a>
</div>-->